.form-container {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.form-group {
  margin-bottom: 15px;
  display: inline-block; /* Add this to make the form groups inline */
  margin-right: 20px; /* Add spacing between the input groups */
}

/* Adjust the form size and center it under the label */
.form-group input {
  width: 200px;
  text-align: center;
}

.trip-start-button {
  padding: 10px 20px;
  background-color: #046909;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


