.form-container {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.form-group {
  margin-bottom: 15px;
}

/* Adjust the form size and center it under the label */
.form-group input {
  width: 200px; 
  text-align: center;
  margin: 0 auto; 
  display: block; 
  
}
.trip-start-button {
  padding: 10px 20px;
  background-color: #f57c00;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  
}


.start-button {
  color: black;
  font-size: 16px;
 
}
